{% extends 'AppConsulta/base.html' %}

{% block content %}
<div class="container mt-4">
    <!-- Contenedor principal con margen superior -->
    <h2 class="mb-4">Agregar Consulta</h2>

    <!-- Mensajes de alerta de guardado exitoso -->
    {% if messages %}
<div class="container mt-3">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}


    <!-- Encabezado principal de la página -->
    <form method="post" class="row g-3 needs-validation" novalidate>
        <!-- Formulario configurado para diseño responsivo con filas y columnas -->
        {% csrf_token %}
        <div class="col-md-6">
            <!-- Contenedor para el campo Paciente -->
            <label for="id_paciente" class="form-label">Paciente</label>
            {{ form.paciente }}
        </div>
        <div class="col-md-6">

            <!-- Contenedor para el campo Médico -->
            <label for="id_medico" class="form-label">Médico</label>
            {{ form.medico }}
        </div>
        <div class="col-md-6">

            <!-- Contenedor para el campo Fecha de Consulta -->
            <label for="id_fecha_consulta" class="form-label">Fecha de Consulta</label>
            {{ form.fecha_consulta }}
           
        </div>
        <div class="col-md-12">

            <!-- Contenedor para el campo Motivo de Consulta -->
            <label for="id_motivo" class="form-label">Motivo de Consulta</label>

            {{ form.motivo }}
           
        <div class="col-12">
            <!-- Botón de envío -->
            <button type="submit" class="btn btn-primary">Guardar</button>

        </div>
    </form>
    <div class="mt-3">
        <!-- Botón para volver a la página principal -->
        <a href="/" class="btn btn-secondary">Inicio</a>
        <!-- Enlace con estilo de botón de Bootstrap para volver a la página principal -->
    </div>
</div>
{% endblock %}
