{% extends 'AppConsulta/base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Buscar Consultas</h2>
        <form method="get" class="d-flex mb-4">
            <input type="text" name="q" class="form-control me-2" placeholder="Buscar por motivo" required>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        <ul class="list-group">
            {% for consulta in consultas %}
                <li class="list-group-item">{{ consulta }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
