{% extends 'AppConsulta/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center fs-1">Bienvenido a la Gestión de Consultas Médicas</h1>
    <p class="text-center fs-3">Gestiona pacientes, médicos y consultas médicas.</p>

    <div class="text-center mt-4">
        <a href="{% url 'agregar_paciente' %}" class="btn btn-primary m-2 fs-4">Agregar Paciente</a>
        <a href="{% url 'agregar_medico' %}" class="btn btn-primary m-2 fs-4">Agregar Médico</a>
        <a href="{% url 'agregar_consulta' %}" class="btn btn-primary m-2 fs-4">Agregar Consulta</a>
        <a href="{% url 'buscar_consulta' %}" class="btn btn-primary m-2 fs-4 ">Buscar Consultas</a>
    </div>

    <!-- Tarjetas de estadísticas en el inicio-->
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Pacientes Registrados</h5>
                    <p class="card-text">{{ total_pacientes }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Médicos Registrados</h5>
                    <p class="card-text">{{ total_medicos }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Consultas Agendadas</h5>
                    <p class="card-text">{{ total_consultas }}</p>
                </div>
            </div>
        </div>
    </div>

    <!--Tablas-->
    <div class="mt-5">
        <!-- Tabla de Pacientes -->
        <h3 class="mb-3">Pacientes</h3>
        <table class="table table-striped align-middle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>RUT</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for paciente in pacientes %}
                <tr>
                    <td>{{ forloop.counter }}</td> <!-- Usar índice del bucle -->
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.apellido }}</td>
                    <td>{{ paciente.rut }}</td>
                    <td>{{ paciente.email }}</td>
                    <td>
                        <!-- Botones eliminar y editar -->
                        a hr<ef="{% url 'editar_paciente' paciente.id %}" class="btn btn-warning btn-sm">ditar</a>
                        <a href="{% url 'eliminar_paciente' paciente.id %}" 
                            class="btn btn-danger btn-sm" 
                            onclick="confirmDeletion(event, this)">
                            Eliminar
                            </a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Tabla de Médicos -->
        <h3 class="mt-5 mb-3">Médicos</h3>
        <table class="table table-striped align-middle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Especialidad</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for medico in medicos %}
                <tr>
                    <td>{{ forloop.counter }}</td> <!-- Usar índice del bucle -->
                    <td>{{ medico.nombre }}</td>
                    <td>{{ medico.apellido }}</td>
                    <td>{{ medico.especialidad }}</td>
                    <td>{{ medico.email }}</td>
                    <td>
                        <!-- Botones editar y eliminar -->
                        <a href="{% url 'editar_medico' medico.id %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'eliminar_medico' medico.id %}" 
                            class="btn btn-danger btn-sm" 
                            onclick="confirmDeletion(event, this)">
                            Eliminar
                            </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Tabla de Consultas -->
        <h3 class="mt-5 mb-3">Consultas</h3>
        <table class="table table-striped align-middle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Paciente</th>
                    <th>Médico</th>
                    <th>Fecha</th>
                    <th>Motivo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for consulta in consultas %}
                <tr>
                    <td>{{ forloop.counter }}</td> <!-- Usar índice del bucle -->
                    <td>{{ consulta.paciente.nombre }}</td>
                    <td>{{ consulta.medico.nombre }}</td>
                    <td>{{ consulta.fecha_consulta }}</td>
                    <td>{{ consulta.motivo }}</td>
                    <td>
                        <!-- Botones editar y eliminar -->
                        <a href="{% url 'editar_consulta' consulta.id %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'eliminar_consulta' consulta.id %}" 
                            class="btn btn-danger btn-sm" 
                            onclick="confirmDeletion(event, this)">
                            Eliminar
                            </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
